html,
body {
	font-family: 'Roboto', sans-serif;
}

pre,
code {
	font-family: 'Fira Mono', monospace;
}

@for $i from 1 through 6 {
	h#{$i} {
		font-family: 'Roboto Condensed', sans-serif;
		text-transform: uppercase;
	}
}

.hero-head,
.hero-foot {
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}